/*------------全局样式表-------------*/

*{
	margin:0;
	padding:0;
	font-family: "308-CAI978";
	box-sizing: border-box;
}

ul{
	list-style: none;
}

/*------------链接样式表-------------*/

a{
	text-decoration: none;
}

/*------------头部导航样式表------------*/

/*头部底色设置为黑灰色*/
header{
	background-color: #434749;
}

/*头部logo周围呈圆形，灰色，延伸到下面*/
.navLogo{
	background: #434749;
	border-radius: 100%;
	margin-bottom: -25px;
}

nav{
	margin: 0 auto;
	max-width: 1000px;
}

/*头部导航链接加粗白色*/
.navWrapper a{
	color: #fff;
	font-size: large;
}

/*头部链接垂直居中*/
.navWrapper .navItem{
	margin:auto 0;
	padding: 5px 10px;
}

/*鼠标移动到头部导航链接上时的样式*/
.navWrapper .navItem:hover{
	background-color: #000;
}

/*头部导航包裹层，设置导航链接水平等距分布*/
.navWrapper{
	display: flex;
	justify-content: space-around;
}

/*====================轮播图区域样式表======================*/
/*设置轮播区背景颜色，设置分布形式*/
.pptWrapper{
	background: #54595C;
	max-height: 100%;
	display: flex;
	justify-content: center;
}
.pptWrapper .slidesItem{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pptWrapper .slidesItem .list{
	max-width: 300px;
	padding-right: 10px;
	margin: 10px;
}

.pptWrapper  .slidesItem .list h3{
	color: #fff;
	font-size: x-large;
}

.pptWrapper  .slidesItem .list p{
	border-top: 1px dotted grey;
	color: grey;
	font-size: small;
	margin:10px;
	padding: 10px 0;
}
.pptWrapper .slidesItem .list button{
	background: grey;
	color: #fff;
	border:1px solid grey;
	border-radius: 4px;
	padding:5px 10px;
}

.pptWrapper .responsive {
	width: 50%;
	height: auto;
	margin:30px;
}

/*==============中间内容样式表==============*/
/*内容标题对齐，字体颜色*/
content .Title{
	margin:10px;
	color: grey;
}
/*顶部内容包裹层*/
.servicesWrapper{
        max-width: 1000px;
        margin:10px auto;
        padding: 10px;
}
/*顶部内容图片自适应屏幕宽度*/
.servicesWrapper .svItem img{
    max-width: 100%;
    max-height: 100%;
}
/*顶部内容链接外边框为1px，颜色为灰色*/
.servicesWrapper .svItem a{
    border:1px solid grey;
    display: block;
    max-width: 300px;
}
/*顶部内容单个项目居中，等距分布*/
.servicesWrapper .svItem{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}
/*顶部内容单个项目内容宽度自适应屏幕宽度*/
.servicesWrapper .svItem .Content{
	border-top: 1px dotted grey;
    color: grey;
    font-size: small;
    padding:20px;
}
/*顶部内容标题*/
.servicesWrapper .svItem h3{
   font-size: large;
   color: grey;
}

/*顶部内容单个项目标题*/
.servicesWrapper .subTitle{
	text-align: center;
	margin: 10px auto 5px auto;
}

/*顶部内容单个项目底部按钮在底框居中*/
.servicesWrapper .svItem .button{
	display: flex;
	justify-content: center;
	position: relative;
	bottom: -20px;
}
/*顶部内容按钮在底线中水平、垂直居中*/
.servicesWrapper .svItem .button button{
	background: grey;
	border-radius: 6px;
	border:none;
	color: #fff;
	padding: 10px;
}

.picListWrapper{
	background: #eee;
	padding: 10px;
	width: 100%;
}
/*图片区域样式*/
.picList{
	max-width: 1000px;
    margin:10px auto;
    padding: 10px;

}
/*图片水平居中*/
.picList .picContent{
	display: flex;
	justify-content: center;
	width: 1000px;
	margin: auto;
}

/**/
.picList .picContent .left{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex:2.05;
}

.picList .picContent .main{
	flex:2;
	background: #525659;
}

.picList .picContent .main .ct-wrapper{
	margin:20px;
	padding: 10px;
}

.picList .picContent .main .ct-wrapper h3{
	font-size: large;
	color: #fff;
	margin: 10px 0;
}

.picList .picContent .main .ct-wrapper p{
	color: #eee;
	font-size: small;
}

.picList .picContent .main .ct-wrapper button{
	color: #fff;
	background: grey;
	border:none;
	border-radius: 6px;
	padding: 10px;
	margin-top: 30px;
}

.picList .picContent .right{
	flex:1;
}

img{
	max-width: 100%;
	max-height: 100%;
	padding: 5px;
}
/*===============BLOG 样式==============*/
.blog{
	max-width: 1000px;
    margin:10px auto;
    padding: 10px;
}

.blog .blogCt{
	display: flex;
	justify-content: center;
}
.blog .blogCt img{
	min-width: 200px;
}
.blog .blogCt .Ct{
	max-width: 500px;
	margin: auto 10px;
}
.blog .blogCt .Ct .text{
	color: grey;
	font-size: small;
}
.blog .blogCt .Ct button{
	color: #fff;
	background: grey;
	border:none;
	border-radius: 6px;
	padding: 5px 10px;
	float: right;
	margin: 10px;
}

/*==========底部信息展示区样式表==========*/
footer{
	background: #525659;
}
footer ul{
	display: flex;
	justify-content: center;
	max-width: 1000px;
	margin: 10px auto;
}
footer ul li{
	display: block;
	max-width: 300px;
	margin: 25px;
}
footer .webIntro form{
	padding: 10px;
}
footer input{
	width: 217px;
	border: 1px solid #525659;
	padding: 10px;
	margin:5px;
}
footer .webIntro .textArea{
	width: 303px;
	height: 125px;
}
footer h3{
	color: #fff;
}
footer .webIntro p{
	color: grey;
	font-size: small;
	margin:10px auto;
	border-top: 1px dotted grey;
	padding-top: 10px;
}
footer .webIntro button{
	background: grey;
	padding:5px 10px;
	border: none;
	border-radius: 4px;
	color: #fff;
}
footer .copyRight{
	background: #434749;
	color: grey;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
